* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

/* Botao do cadastro */
.btnDiv {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px 0 40px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}


/* Formulario do cadastro */
.form {
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}


.form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.form input:focus {
    border-color: #4e73df;
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
}

.form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4e73df;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background-color: #2e59d9;
}

/* exercicios */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 40px;
}

.ex {
    background-color: white;
    width: 700px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.ex a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #4e73df;
    margin-bottom: 10px;
    transition: 0.3s;
}

.ex a:hover {
    color: #531388;
}

.text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease;
}


.ex:hover {
    transform: translateY(-8px);
}

.ex:hover .text {
    opacity: 1;
    max-height: 500px;
    margin-top: 10px;
}